/* This applies from 0px to 600px */

.main-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-width: 1px;
}

.main-content-form {  
        
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-width: 1px;  
    padding: 2%;  
}


header {
    width: 350px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    flex: display;
}

header.shs {
    text-align: center;
}

p {
    font-size: 20px;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* FOR DESKTOP */
@media all and (min-width: 600px) {

    .main-content {  
        text-align: center;
        margin: 0 auto;
        margin-top: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-width: 1px;
    }
    
    .main-content-form {  
        
        margin: 0 auto;
        margin-top: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-width: 1px;    
    }
    
    header {
        width: 700px;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;
        flex: display;
    }
    
    header.shs {
        text-align: center;
    }
    
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    p {
        font-size: 20px;
    }
  

}